.article-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 5rem 0;
  gap: 3rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  width: 100%;
  height: 100vh;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 50px;
  max-width: 100vw;
  height: 100vh;
  background: var(--color-azul);
  transition: box-shadow 0.2s ease;
}

.article:hover {
  box-shadow: 12px 12px 0px #073c70;
}

.article h1 {
  font-size: xx-large;
  margin-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 6px double white;
}

.article img {
  height: 30%;
  margin: 0%;
}

.article p {
  max-height: 50%;
  overflow-y: scroll;
}

.container-info {
  display: flex;
  height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0;
  justify-content: space-between;
  align-items: center;
}

.container-info span {
  font-size: small;
}

.container-info .button-link {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: var(--color-azul-marino);
  text-decoration: none;
  font-weight: 500;
  transition: box-shadow 0.5s ease;
}

.container-info .button-link:hover {
  box-shadow: 4px 4px 0px rgb(219, 219, 219);
}

.about-container {
  overflow-y: auto;
  width: 90%;
  height: 110vh;
  border-radius: 30px;
  padding: 0px 6px 0px 10px;
  margin-left: 14px;
  margin-right: 14px;
  background: whitesmoke;
  color: var(--color-negro);
  transition: box-shadow 0.3s ease;
}

.about-container ::-webkit-scrollbar {
  width: 10px;
}

.about-container:hover {
  box-shadow: 12px 12px 0px rgb(189, 189, 189);
}

.about-container :is(h1, h2, p) {
  color: var(--color-negro);
}

.about-container h1 {
  font-size: xx-large;
}

.about-container img {
  text-align: center;
  background: var(--color-gris-oscuro);
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .article-about-container {
    flex-direction: row;
  }
  .article img {
    height: 50%;
  }
}
