.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  background: rgba(255, 255, 255, 0.122);
  box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar__logo {
  position: relative;
  font-size: 1.5rem;
  z-index: 1000;
}

.navbar__logo img {
  height: 70px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  float: left;
}

.menu__item a,
.menu__item button {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background: rgba(184, 184, 184, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
}

.menu__item:hover a,
.menu__item:hover button {
  color: #0099ff;
}

.menu__container {
  display: none;
  position: absolute;
  background-color: inherit;
  overflow-y: scroll;
  z-index: 1;
  transition: 0.3s;
  padding: 8px;
}

.menu__item:hover .menu__container {
  display: flex;
}

.submenu {
  list-style: none;
  margin: 5px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.submenu li {
  padding: 8px;
  border-bottom: 1px solid #c8c18d;
}

.submenu li:last-child {
  border-bottom: thick double #c8c18d;
}

.submenu li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.submenu li a:hover {
  color: #0a488e;
  background-color: transparent;
}

.nav-icon {
  display: none;
}

@keyframes nav_open {
  0% {
    height: 0%;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar__logo img {
    height: 60px;
    z-index: 999;
  }

  .menu.menu--invisible {
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  .menu.menu--visible {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0%;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    align-self: center;
    gap: 25px;
    animation: nav_open 0.5s none;
  }
  .menu__item {
    float: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .menu__item a {
    text-align: center;
  }
  .menu__container {
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .submenu {
    width: 100%;
    max-height: 200px;
    background-color: transparent;
  }
  .nav-icon {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    z-index: 1000;
    position: absolute;
    left: 80%;
    z-index: 1000;
  }
  .nav-icon span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }
  .nav-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  .nav-icon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }
  .nav-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  .nav-icon:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
}
